.barraColor{
    width: 100%;
    height: 20px;
    padding:none;
 background: -webkit-linear-gradient(to right,#0095ad,#01fb35);
 background: linear-gradient(to right, #0095ad,#01fb35);
 
}


body{
    background: url(img/fondo.jpg);
    background-size: 100%;
}
.footer{
    background: url(img/footer.jpg);
    background-size: 100%;
}